[submodule "submodules/veldrid"]
	path = submodules/veldrid
	url = https://github.com/winnerspiros/veldrid.git
[submodule "submodules/veldrid-spirv"]
	path = submodules/veldrid-spirv
	url = https://github.com/winnerspiros/veldrid-spirv.git
[submodule "submodules/managedbass"]
	path = submodules/managedbass
	url = https://github.com/winnerspiros/ManagedBass
